<div class="py-4">
  <form>
    <div class="form-group row w-50 m-auto mb-4">
      <div class="form-group col-12 col-sm-6">
        <label>Email</label>
        <input type="email" pattern=".+@globex\.com" size="30" class="form-control m-auto mb-4">
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Nombre</label>
        <input class="form-control m-auto mb-4">
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Password</label>
        <input type="password" class="form-control m-auto mb-4">
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Repita la password</label>
        <input type="password" class="form-control m-auto mb-4">
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Años de experiencia</label>
        <input type="number" class="form-control m-auto mb-4">
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Especialidad</label>
        <input class="form-control m-auto mb-4">
      </div>
      <div class="form-group col-12 col-sm-12">
        <label>Foto de perfil</label>
        <input type="file" accept="image/png, image/jpeg">
      </div>
    </div>
    <div class="mb-4"><button class="btn btn-success">Registrarme</button></div>
    <div class="mb-4"><button class="btn btn-primary">Actualizar</button></div>
    <div class="mb-4"><button class="btn btn-danger">Eliminar cuenta</button></div>
  </form>
</div>