<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Skate Park</title>
  <!-- Hojas de estilo de Bootstrap 5 y Personal -->
  <link rel="stylesheet" href="/bscss" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  {{> header title = "Datos del perfil"}}
  {{> form }}
</body>

</html>